<div class="nav-bar">
    <% if (username) { %>
    <a href="/auth/logout">
        <button class="nav-button">log out</button>
    </a>
    <% } else { %>
        <a href="/auth/login">
            <button class="nav-button">log in</button>
        </a>
        <a href="/auth/signup">
            <button class="nav-button">sign up</button>
        </a>
    <% } %>
</div>
