<!DOCTYPE html>
<html>

    <head>
        <!-- jquery -->
        <script src="http://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        <!-- semantic ui js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.js" charset="utf-8"></script>
        <!-- semantic ui css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css">
        <!-- my js -->
        <script src="/app.js" charset="utf-8"></script>
        <!-- my css -->
        <link rel="stylesheet" href="/style.css">

        <meta charset="utf-8">
        <title>Edit your user information.</title>
    </head>

    <body>
        <h1>Change your user information!</h1>
                <form method="POST" action="/users/<%=wholeUser.id%>?_method=PATCH%>">
                    <input type="text" style = 'display: none' value = '<%=wholeUser.id%>' name = 'id'>
                <label for="username">Username: </label>
                <input id = 'username' type="text" value = '<%= wholeUser.username %>' name = 'username'>
                <label for="email">Email: </label>
                <input id = 'email' type="text" value = '<%= wholeUser.email %>' name = 'email'>

                <label for="password">Password: </label>
                <input id = 'password' type="password" value = '' name = 'password' >
                <p>
                </p>
                <p>
                </p>
                    <input id = 'button' class = 'btn btn-info' type="submit" value = 'submit changes'>
                </form>


        <br>












    </body>

</html>
