* {
    margin: 0;
}

body {
    width: 95%;
    margin: auto;
    font-family: 'Monaco', monospace;
}

.loginSignup a {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid #000;
    cursor: pointer;
    display: inline-flex;
    float: right;
    text-decoration: none;
    color: black;
    font-size: 1.15em;
    width: 4em;
    justify-content: center;
    align-items: center;
}

.loginSignup a:hover {
    color: #FF4500;
    border: 1px solid #FF4500;
}
