<!DOCTYPE html>
<html>

    <head>
        <!-- jquery -->
        <script src="http://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        <!-- semantic ui js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.js" charset="utf-8"></script>
        <!-- semantic ui css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css">
        <!-- my js -->
        <script src="/app.js" charset="utf-8"></script>
        <!-- my css -->
        <link rel="stylesheet" href="/style.css">

        <meta charset="utf-8">
        <title>Main Page</title>
    </head>

    <body>
        <header>
            <div class="ui secondary pointing menu">
                <a class="item active">
                    Home
                </a>
                <% if (session.user) { %>
                    <a href="/users/<%=session.user.id%>" class="item">
                        Your Page
                    </a>
                <% } %>
                <div class="right menu">
                    <% if (session.user) { %>
                        <a href="/logout" class="ui item">
                            Logout
                        </a>
                    <% } else { %>
                        <a href="/login" class="item">
                            Login
                        </a>
                        <a href="/signup" class="item">
                            Sign up
                        </a>
                    <% } %>
                </div>
            </div>
        </header>
        <div class="form-container">
            <fieldset>
                <form action="/users/<%=session.user.id%>/posts" method="post">
                    <input type="text" name="title" placeholder="Title">
                    <input type="text" name="body" placeholder="Content">
                    <input type="submit" value="Create New Post">
                </form>
            </fieldset>
        </div>

        <div class="container">
            <%- include ../partials/posts %>
        </div>
    </body>

</html>
